.wrap {
  display: flex;
}
.left {
  flex: 0 1 320px;
  background: #87a0ac;
}
.middle {
  flex: 0 1 850px;
  background: #bbc9d0;
}
.right {
  flex: 1 1 750px;
  background: #3f525b;
}
.rightMenu {
  float: right;
  margin-top: 15px;
  margin-right: 20px;
}

.menuItem {
  display: inline-block;
  margin: 0 0 0 35px;
}
.copy,
.add,
.siderBar {
  padding: 0 8px;
  font-size: 50px;
  color: #bbc9d0;
}

.leftMenu {
  float: left;
  margin-top: 15px;
}
.siderBar {
}
