@import "@/assets/less/variables.less";

.rightIcon {
  display: inline-block;
  span {
    cursor: pointer;
  }
}

.ul {
  background: #273136;
  color: #fff;
  max-height: 670px;
  overflow-y: auto;
}
.li {
  font-size: @fontSize;
  padding: @paddingCol @paddingRow;
  // min-width: 275px;
  // max-width: 360px;
  width: @tooltipLiWidth;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
