.wrap {
  display: flex;
  height: 90px;
}
.left {
  flex: 0 0 110px;
  background: #87a0ac;
  .ul {
    text-align: center;
  }
}
.middle {
  flex: 0 1 900px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 10px;
  color: #fff;
  font-size: 36px;
  font-weight: 600;
  flex-wrap: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background: #bbc9d0;
}
.right {
  flex: 1;
  background: #3f525b;
  .ul {
    display: flex;
  }
}
.ul {
  height: 100%;
}
