.wrap {
  display: flex;
  height: 90px;
}
.left {
  flex: 1;
  background: #87a0ac;
  .ul {
    text-align: left;
    margin-left: 30px;
  }
}
.middle {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  padding: 0 10px;
  background: #bbc9d0;
}
.right {
  flex: 1;
  background: #3f525b;
  .ul {
    // margin-right: 30px;
    // text-align: right;
    display: flex;
    flex-direction: row-reverse;
  }
}
.ul {
  height: 100%;
}
